@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

/* Variables CSS */
:root {
    --primary-color: #ff0000; /* Rojo */
    --hover-color: #c70000; /* Rojo oscuro para hover */
    --background-color: #ffffff; /* Blanco */
    --container-bg-color: #f9f9f9; /* Fondo gris claro */
    --text-color: #000000; /* Negro para el texto */
    --border-color: #ddd; /* Color de borde */
}

/* Estilos Generales */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Contenedor de Contacto */
.contact-container {
    background-color: var(--container-bg-color);
    padding: 1rem 2rem; /* Reducir padding vertical */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.8s ease both;
}

/* Título del Formulario de Contacto */
.contact-title {
    color: var(--primary-color);
    font-size: 2rem; /* Reducido el tamaño de fuente */
    font-weight: 700;
    margin-bottom: 0.5rem; /* Reducido el margen inferior */
    text-transform: uppercase;
    text-align: center;
    animation: fadeInDown 1s ease both;
}

/* Título de Información de Contacto */
.contact-info-title {
    font-size: 1.5rem; /* Reducido el tamaño de fuente */
    font-weight: 700;
    margin-bottom: 0.5rem; /* Reducido el margen inferior */
    color: var(--primary-color);
    text-align: center;
    animation: fadeInDown 1s ease both;
}

/* Elementos del Formulario de Contacto */
.contact-form {
    animation: fadeInUp 1s ease both;
}

.contact-form .form-control {
    border-radius: 5px;
    border: 1px solid var(--border-color);
    margin-bottom: 0.8rem; /* Reducido el margen inferior */
    font-size: 0.9rem; /* Reducido el tamaño de fuente */
}

/* Botón de Envío del Formulario */
.contact-submit-button {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 8px 15px; /* Reducido el padding */
    border-radius: 5px;
    font-weight: 500;
    transition: background-color 0.3s ease;
    width: 100%; /* Ancho completo del botón */
    font-size: 1rem; /* Reducido el tamaño de fuente */
}

.contact-submit-button:hover {
    background-color: var(--hover-color);
}

/* Elementos de Información de Contacto */
.contact-info-column {
    background-color: var(--background-color);
    padding: 1rem 1.5rem; /* Reducir padding vertical */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    animation: fadeInUp 1s ease both;
}

.contact-info-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem; /* Reducido el margen */
    animation: fadeIn 1.2s ease both;
    font-size: 0.9rem; /* Reducido el tamaño de fuente */
}

.contact-icon {
    color: var(--primary-color);
    margin-right: 10px;
    font-size: 1.2rem; /* Reducido el tamaño de fuente */
}

.contact-info-item a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-info-item a:hover {
    color: var(--primary-color);
}

/* Ubicaciones de Contacto */
.contact-location {
    margin-top: 1.5rem; /* Reducido el margen superior */
    animation: fadeIn 1.2s ease both;
}

.location-title {
    display: flex;
    align-items: center;
    font-size: 1rem; /* Reducido el tamaño de fuente */
    margin-bottom: 0.5rem;
    color: var(--text-color);
}

.location-title svg {
    margin-right: 0.5rem;
}

.map-container {
    margin-top: 1rem;
}

@media (max-width: 768px) {
    .contact-container {
        padding: 0.5rem 1rem; /* Ajuste de padding para dispositivos móviles */
    }

    .contact-title {
        font-size: 1.5rem; /* Ajuste de tamaño de fuente para dispositivos móviles */
    }

    .contact-info-title {
        font-size: 1.2rem; /* Ajuste de tamaño de fuente para dispositivos móviles */
    }

    .contact-form .form-control {
        font-size: 0.8rem; /* Ajuste de tamaño de fuente para dispositivos móviles */
    }

    .contact-info-column {
        padding: 0.5rem 1rem; /* Ajuste de padding para dispositivos móviles */
    }

    .contact-info-item {
        font-size: 0.8rem; /* Ajuste de tamaño de fuente para dispositivos móviles */
    }
}

/* Animaciones */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
