/* Loading.css */
.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999; /* Asegúrate de que esté por encima de otros elementos */
    transition: background-color 0.5s ease; /* Suaviza el cambio de fondo */
}

.loading img {
    width: 150px; /* Aumenta el tamaño del logo */
    animation: fadeIn 1s ease-in; /* Añade un efecto de desvanecimiento */
}

.loading h2 {
    margin-top: 20px;
    font-size: 24px; /* Tamaño del texto */
    color: #333; /* Color del texto */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Sombra para mayor efecto */
    animation: fadeIn 1s ease-in; /* Añade un efecto de desvanecimiento */
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}