@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

:root {
    --primary-color: #ff4d4d; /* Rojo principal */
    --hover-color: #e63939; /* Rojo más oscuro al pasar el mouse */
    --background-color: #f9f9f9; /* Fondo gris claro */
    --container-bg-color: #ffffff; /* Fondo blanco para contenedores */
    --border-color: #ddd; /* Color de borde */
    --text-color: #555; /* Color de texto gris */
    --header-text-color: #000; /* Color de texto negro para encabezados */
}

/* Estilos Generales */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: var(--text-color);
    background-color: var(--background-color); /* Color de fondo */
}

/* Animaciones */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.materiales-container {
    padding: 2rem;
    background-color: var(--background-color);
    animation: fadeInUp 1s ease both;
}

.materiales-title {
    margin-top: 10px;
    margin-bottom: 20px; /* Espacio más amplio debajo del título */
    text-align: center;
    color: var(--header-text-color);
    font-size: 2.5rem; /* Tamaño mayor para el título */
    font-weight: 700;
    text-transform: uppercase;
    animation: fadeInUp 1s ease both;
}

.adjunta-lista-container {
    margin: 20px auto;
    padding: 10px;
    background-color: var(--container-bg-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: fadeInUp 1.2s ease both;
}

.adjunta-lista-btn {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 24px; /* Ajustar padding del botón */
    font-size: 16px; /* Ajustar tamaño de fuente del botón */
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
    animation: fadeInUp 1.4s ease both;
}

.adjunta-lista-text {
    font-size: 14px; /* Tamaño de texto más grande */
    color: var(--header-text-color);
    margin-top: 10px;
    animation: fadeInUp 1.6s ease both;
}

.adjunta-lista-btn:hover {
    background-color: var(--hover-color);
    transform: translateY(-2px);
    animation: pulse 1s infinite; /* Efecto de pulso */
}

.material-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--container-bg-color);
    animation: fadeInUp 1.8s ease both;
}

.material-card img {
    width: 100%;
    height: 200px; /* Altura ajustada para todas las imágenes */
    object-fit: cover;
    margin: 0;
}

.material-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px; /* Añadir padding */
    height: 100%;
}

.material-card .text-danger {
    color: var(--primary-color);
}

.material-card .btn {
    background-color: #000;
    color: white;
    border-radius: 5px;
    padding: 10px 20px; /* Añadir padding */
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.material-card .btn:hover {
    background-color: #333;
}

.material-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.material-card h4 {
    font-weight: 700;
    margin: 10px 0;
    text-transform: uppercase;
    color: var(--header-text-color);
}

.material-card p {
    font-size: 1rem;
    color: var(--text-color);
}

@media (max-width: 768px) {
    :root {
        --padding-container: 1rem;
        --margin-card: 1rem 0;
    }

    .materiales-container {
        padding: var(--padding-container);
    }

    .material-card {
        margin-bottom: var(--margin-card);
    }

    .adjunta-lista-btn {
        font-size: 14px;
        padding: 8px 16px;
    }

    .adjunta-lista-text {
        font-size: 12px;
    }
}
