/* Variables CSS */
:root {
    --primary-color: #000000; /* Color principal */
    --hover-color: #ff0000; /* Color de hover */
    --background-color: #f9f9f9; /* Color de fondo */
    --container-bg-color-custom: rgba(255, 255, 255, 0.3); /* Fondo semitransparente */
    --border-color: #ddd; /* Color de borde */
    --text-color: #000000; /* Color del texto */
}

/* Contenedor general */
.pisos-materiales-container-custom {
    padding: 2rem;
    background: transparent; /* Fondo transparente */
    color: var(--text-color);
    position: relative;
    z-index: 1; /* Asegura que esté por encima del vídeo */
    display: flex;
    flex-direction: column;
    font-size: 1.2rem; /* Aumentar tamaño de texto */
}

.pisos-title-custom {
    width: 100%;
    text-align: left;
    color: var(--primary-color); /* Color del título */
    font-size: 2.5rem; /* Mayor tamaño para el título */
    font-weight: 700;
}

/* Botón "Adjunta tu lista" */
.pisos-adjunta-lista-container-custom {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    background-color: var(--container-bg-color-custom);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2; /* Asegura que esté por encima de otros elementos */
}

.pisos-adjunta-lista-btn-custom {
    background-color: #ff0000;
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px; /* Texto más grande */
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.pisos-adjunta-lista-btn-custom:hover {
    background-color: var(--hover-color);
    transform: translateY(-2px);
}

.pisos-adjunta-lista-text-custom {
    font-size: 18px; /* Texto más grande */
    color: var(--text-color);
    margin-top: 10px;
    text-align: right; /* Alinear texto a la derecha */
}

/* Estilo de los productos */
.pisos-material-card-custom {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    font-size: 1.2rem; /* Aumentar tamaño de texto */
    background-color: var(--container-bg-color-custom); /* Fondo de las tarjetas */
    display: flex; /* Usar flexbox para alinear el contenido */
    flex-wrap: wrap; /* Permitir que el contenido se ajuste en múltiples líneas */
}

.pisos-material-card-custom:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(145, 71, 71, 0.3);
    border: 2px solid var(--hover-color);
}

.pisos-text {
    flex: 1 1 60%; /* Ocupa el 60% del ancho disponible */
    padding: 10px;
}

.pisos-image-left {
    max-width: 35%; /* Tamaño máximo de las imágenes */
    height: auto; /* Asegura que la altura sea automática */
    display: block;
    margin: 10px; /* Margen para espacio alrededor de las imágenes */
    border-radius: 10px; /* Bordes redondeados para imágenes */
    box-shadow: 0 2px 8px rgba(129, 129, 129, 0.2);
    flex: 1 1 35%; /* Ocupa el 35% del ancho disponible */
    float: left; /* Alinear las imágenes a la izquierda */
}

.pisos-image-right {
    max-width: 35%; /* Tamaño máximo de las imágenes */
    height: auto; /* Asegura que la altura sea automática */
    display: block;
    margin: 10px; /* Margen para espacio alrededor de las imágenes */
    border-radius: 10px; /* Bordes redondeados para imágenes */
    box-shadow: 0 2px 8px rgba(129, 129, 129, 0.2);
    flex: 1 1 35%; /* Ocupa el 35% del ancho disponible */
    float: right; /* Alinear las imágenes a la derecha */
}

/* Responsividad */
@media (max-width: 768px) {
    :root {
        --padding-container: 1rem;
        --margin-card: 1rem 0;
    }

    .pisos-footer-section-custom {
        padding: 1rem 0;
    }

    .pisos-materiales-container-custom {
        padding: var(--padding-container);
    }

    .pisos-material-card-custom {
        margin-bottom: var(--margin-card);
        flex-direction: column; /* Alinear en columna en móviles */
    }

    .pisos-text, .pisos-image-right {
        flex: 1 1 100%; /* Ocupa el 100% del ancho disponible */
        margin: 10px 0; /* Espacio entre elementos en móviles */
    }

    .pisos-adjunta-lista-container-custom {
        position: relative; /* Cambiar a posición relativa en móviles */
        top: auto; /* Resetear top */
        right: auto; /* Resetear right */
        margin-top: 20px; /* Agregar margen para separación */
    }
}

/* Estilos para el video de fondo */
.pisos-video-background-custom {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.5; /* Ajustar opacidad del video */
}
.mt-4 {
    margin-top: 4rem !important;
}

.upload-button {
    background-color: #ff0000; /* Color verde de WhatsApp */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-weight: 500;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.upload-button:hover {
    background-color: #1DA851; /* Color de hover más oscuro */
    text-decoration: none;
}

.upload-icon {
    margin-right: 5px;
}

.text-black {
    color: #000; /* Cambiar el color del texto a negro */
    font-weight: 300;
}

.contact-button-container {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2; /* Asegura que esté por encima de otros elementos */
}
